# Android Studio
*.iml
.gradle/
.idea/

# IntelliJ-specific files
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# OS-specific
.DS_Store

# Build output
/build/
.captures/
.externalNativeBuild/
.cxx/

# Local config
local.properties
gradle.properties
google-services.json
